---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import BlogPost from "../../components/BlogPost.astro";

const allPosts = await getCollection("blog");
---

<Layout>
    <p>Here are some posts I wrote recently.</p>
    <ul class="flex gap-3">
        {
            allPosts.map((post) => (
                <BlogPost
                    url={`/posts/${post.id}`}
                    title={post.data.title}
                    description={post.data.description}
                />
            ))
        }
    </ul>
    <p>Or how about others written a while back?</p>
</Layout>
