<div
    x-data="{isDark: document.documentElement.classList.contains('dark')}"
    x-effect="document.documentElement.classList[isDark ? 'add' : 'remove']('dark')"
>
    <button @click="isDark = ! isDark">DarkMode</button>
</div>
