---
import DarkModeToggle from "./DarkModeToggle.astro";
import Social from "./Social.astro";
---

<nav class="flex gap-3 items-center">
    <ul class="flex gap-2">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/posts">Posts</a>
        </li>
    </ul>
    <DarkModeToggle />
    <ul class="flex gap-2">
        <li>
            <Social platform="github" />
        </li>
        <li>
            <Social platform="bluesky" />
        </li>
    </ul>
</nav>
