<div
    x-data="{
        getThemePreference() {
            if (typeof localStorage !== 'undefined'
                && localStorage.getItem('theme')) {
                    return localStorage.getItem('theme');
            }
            return window.matchMedia('(prefers-color-scheme: dark)').matches
                ? 'dark'
                : 'light';
        },
        toggleDarkMode() {
            document.documentElement.classList.toggle('dark');
            if (typeof localStorage !== 'undefined') {
                const isDark = document.documentElement.classList.contains('dark');
                localStorage.setItem('theme', isDark ? 'dark' : 'light')
            };
        },
    }"
    x-init="document.documentElement
        .classList[getThemePreference() === 'dark' ? 'add' : 'remove']('dark')"
>
    <slot />
</div>
